<a href="https://colab.research.google.com/github/Hyun-Jun-Lee/Review_Sentiment_Analysis/blob/main/Movie_Review_Seniment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [ ]:
!pip install konlpy

In [2]:
import pandas as pd
import pymongo
import matplotlib.pyplot as plt
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences
from konlpy.tag import Okt


# Read Data

In [3]:
df = pd.read_csv('/content/drive/MyDrive/crawling_review.csv')
stopwords = pd.read_csv('/content/drive/MyDrive/stopword.csv')

In [6]:
df.sample(10)

      Unnamed: 0  ...  label
2568        2758  ...      1
8565        9068  ...      0
6446        6908  ...      1
2335        2505  ...      1
4384        4708  ...      1
5115        5487  ...      1
7560        8042  ...      0
4212        4524  ...      1
5085        5454  ...      1
9294        9808  ...      0

[10 rows x 4 columns]

In [7]:
stopwords[:10]

  stopdword
0         아
1         휴
2       아이구
3       아이쿠
4       아이고
5         어
6         나
7        우리
8        저희
9        따라

# 토큰화 및 stopword 제거